.scroller::-webkit-scrollbar{
    display: none;
}

.SwitchRoot {
  all: unset;
  width: 42px;
  height: 25px;
  background-color: #c4c4c4;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SwitchRoot[data-state='checked'] {
  background-color: #4caf50;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.SwitchRoot[data-state='checked'] > .SwitchThumb {
  transform: translateX(19px);
}

.border-gray-500 {
  border-color: #ccc;
}

.border-red-500 {
  border-color: #f44336;
}
  