#fromtime{
    width: 100%;
    font-size: small;
}
#totime{
    width: 100%;
    font-size: small;
}

#date{
    text-align: center;
    font-size: small;
}

.scroller::-webkit-scrollbar{
    display: none;
}